@page "/login"
@using BlazorShopApp.Shared
<PageTitle>Login</PageTitle>

<EditForm Model="user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator/>
    <div class="mb-3">
        <label for="email">Email</label>
        <InputText id="email" class="form-control" @bind-Value="user.Email" />
        <ValidationMessage For="@(()=> user.Email)"/>
    </div>
    <div class="mb-3">
        <label for="password">Enter Password</label>
        <InputText type="password" id="password" class="form-control" @bind-Value="user.Password" />
        <ValidationMessage For="@(()=> user.Password)"/>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>
@code {
    private UserLogin user = new UserLogin();

    private async Task HandleLogin()
    {
        Console.WriteLine("I'm logged in lad");
    }
}
