@page "/register"
@inject IAuthService AuthService
@using BlazorShopApp.Client.Services.AuthService
@using BlazorShopApp.Shared

<PageTitle>Register</PageTitle>
<h3>Register</h3>

<EditForm Model="user" OnValidSubmit="HandleRegistration">
    <DataAnnotationsValidator/>
    <div class="mb-3">
        <label for="email">Email</label>
        <InputText id="email" class="form-control" @bind-Value="user.Email" />
        <ValidationMessage For="@(()=> user.Email)"/>
    </div>
    <div class="mb-3">
        <label for="password">Enter Password</label>
        <InputText type="password" id="password" class="form-control" @bind-Value="user.Password" />
        <ValidationMessage For="@(()=> user.Password)"/>
    </div>
    <div class="mb-3">
        <label for="confirmPassword">Confirm Password</label>
        <InputText type="password" id="confirmPassword" class="form-control" @bind-Value="user.ConfirmPassword" />
        <ValidationMessage For="@(()=> user.ConfirmPassword)"/>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <div class = "text-danger">
        <span>@errorMessage</span>
    </div>
</EditForm>

@code {
    UserRegister user = new UserRegister();

    string errorMessage = string.Empty;

    public async Task HandleRegistration()
    {
        var result = await AuthService.Register(user);
        if (!result.Success)
        {
            errorMessage = result.Message;
        }
        else
        {
            errorMessage = string.Empty;
        }

    }
}
